<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h2 class="navbar__title">Weather</h2>
            <ul class="navbar__links">
                <li class="navbar__link">About</li>
                <li class="navbar__link">Help</li>
                <li class="navbar__link">Contact</li>
            </ul>
        </nav>
    </header>
    <section>
        <form id="weatherForm">
            <input type="text" name="" id="area-search-input" placeholder="Enter area name to find weather details">
            <button type="submit">Find</button>
        </form>
    </section>
</body>
<script src="/js/main.js"></script>
</html>